.container {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #1d1d1f;

  border-radius: 20px;
  backdrop-filter: blur(10px);

  overflow: visible;
}

.container1 {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  border-radius: 20px;
  backdrop-filter: blur(10px);

  overflow: visible;
}
.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 25px;
  justify-content: center;
}

.destination-card {
  background: linear-gradient(135deg, #0f0c29 0%, #302b63 50%, #24243e 100%);
  background: linear-gradient(90deg, #0f0c29 35%, #302b63 50%, #24243e 100%);
  background: linear-gradient(60deg, #0f0c29 0%, #302b63 50%, #24243e 100%);
  border-radius: 15px;
  overflow: hidden;
  transition: all 0.3s ease;
  box-shadow: 0 4px 15px rgba(8, 8, 8, 0.1), 0 0 10px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  position: relative;
  border: 1px solid rgba(168, 168, 168, 0.8);
}

.destination-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0);
}

.destination-card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: all 0.3s ease;
  pointer-events: none;
}

.destination-card:hover::after {
  box-shadow: inset 0 0 8px rgba(240, 233, 233, 0.2);
}

.destination-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.destination-card:hover img {
  transform: scale(1.05);
}

mat-card-header {
  padding-top: 16px;
  padding-right: 16px;
  padding-bottom: 16px;
}

mat-card-title {
  font-size: 1.2rem;
  font-weight: 300;
  margin-bottom: 8px;
  color: whitesmoke;
}

h1 {
  font-family: "Inter";
  font-size: 3rem;
  color: aliceblue;
}

.mat-card-content {
  text-align: left;
  color: aliceblue;
  font-weight: 200;
}
