<div>
  <div class="container1">
    <h1 data-text="Explore Places">Explore Places</h1>
    <p
      style="
        color: aliceblue;
        font-weight: 100;
        font-size: 1.5rem;
        margin-bottom: 50px;
      "
    >
      List of places you should explore
    </p>
    <div class="container">
      <div *ngIf="loading" class="spinner-container">
        <mat-spinner></mat-spinner>
      </div>
      <div *ngIf="!loading" class="card-container">
        <mat-card *ngFor="let place of places" class="destination-card">
          <img mat-card-image [src]="place.image" [alt]="place.title" />
          <mat-card-header>
            <mat-card-title class="mat-card-title">{{
              place.title
            }}</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p class="mat-card-content">{{ place.description }}</p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
