<body>
  <div class="nav-div">
    <a href="" class="logo">Travel Destinations</a>
    <nav>
      <ul class="navas">
        <div class="close-btn" (click)="toggleMenu()">X</div>
        <li><a>Home</a></li>
        <li><a>About</a></li>
        <li><a>Services</a></li>
        <li><a>Contact</a></li>
      </ul>

      <div class="hamburger" (click)="toggleMenu()">
        <span>Home</span>
        <span>About</span>
        <span>Services</span>
      </div>
    </nav>
  </div>
  <main class="main">
    <div class="content">
      <app-gallery></app-gallery>
    </div>
  </main>
</body>

<router-outlet />
